#root {
  max-width: 1280px;
  margin: 0 auto;
  //padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

.a4-box {
  width: 794px; /* Approximately 210mm */
  height: 1123px; /* Approximately 297mm */
  border: 1px solid black; /* Add a border for visibility */
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.qol {
  display: flex;
  gap: 20px;
}
.qol button {
  flex: 1;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.container .userInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  background: #474747;
  padding: 16px;
  border-radius: 25px;
  gap: 5px;
}

.section .addBtn {
  margin-top: 20px;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

img {
  width: 25px;
  height: 25px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.personalDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: -20px;
}
.personalDetails p {
  display: flex;
  gap: 5px;
}

hr {
  width: 90%;
  margin: 0 auto;
  border: 1px solid;
}

.education {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.previewTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.previewTitle p {
  margin-top: -25px;
}

.previewDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.previewDate p {
  margin-top: -25px;
}

.description {
  padding-left: 60px;
  padding-right: 60px;
  white-space: pre-wrap;
}
.description p {
  margin-top: -10px;
  text-align: left;
}
