#root {
  max-width: 1280px;
  margin: 0 auto;
  //padding: 2rem;
  text-align: center;
}

.a4-box {
  width: 794px; /* Approximately 210mm */
  height: 1123px; /* Approximately 297mm */
  border: 1px solid black; /* Add a border for visibility */
  background: grey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container > .generalInfo {
  display: flex;
  flex-direction: column;
}
